#comments-and-notes-title {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

#existing-note {
    margin: 10px;
    border: 2px solid #6362623a;
    border-radius: 5px;
    padding: 10px;
}

#note-label {
    font-size: 13px;
    font-weight: 550;
}

#expense-note {
    font-size: 13px;
    margin-top: 8px;
}

#existing-comments {
    margin: 10px;
    /* border: 2px solid #6362623a; */
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}

#commenter-name {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 550;
}

#comment-createdAt {
    margin-top: 0px;
    font-size: 11px;
    font-weight: 500;
}

#comment {
    margin-top: 0px;
    font-size: 14px;
}

#comment-edit-delete {
    /* border: 1px solid red; */
    padding-top: 10px;
    border-bottom: 2px solid #6362623a;
}

#new-comment {
    padding: 10px;
}

#comment-box {
    border: 2px solid #6362623a;
    border-radius: 5px;
}