#comments-and-notes-title {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

#existing-note {
    margin: 10px;
    border: 2px solid #6362623a;
    border-radius: 5px;
    padding: 10px;
}

#note-label {
    font-size: 13px;
    font-weight: 550;
}

#expense-note {
    font-size: 13px;
    margin-top: 8px;
}


#existing-comments {
    margin: 10px;
    border: 2px solid #6362623a;
    border-radius: 5px;
    padding: 10px;
}

#commenter-name {
    margin: 10px 0 10px 0;
    font-size: 13px;
    font-weight: 550;
}

#comment-createdAt {
    font-size: 11px;
    font-weight: 500;
}

#comment {
    margin-top: 0px;
    font-size: 13px;
}

#comment-edit-delete {
    padding-top: 12px;
    border-bottom: 2px solid #6362623a;
}

#new-comment {
    padding: 10px;
}

#comment-box {
    border: 2px solid #6362623a;
    border-radius: 5px;
}

#delete-comment-buttons, #edit-comment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.char-count {
    font-size: 12px;
}
