.add-friend-input {
    display: flex;
    gap: 14px;
    margin: 10px;
}

.list-user-email-item {
    cursor: pointer;
    line-height: 2;
}

.list-user-email-item:hover {
    background-color: rgb(244, 243, 243);
}

.chosen-user-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px;
    margin: 10px;
}

.user-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.select-a-friend {
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 10px;
}

.select-friend-small-label {
    font-size: 12px;
    color: rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: .5px solid rgb(204, 204, 204);
    margin: 0px;
}
