.delete-friend,
.cannot-delete-friend {
    width: 100%;
    min-width: 60ch;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;

    :is(p) {
        margin: 0;
    }
}
