.delete-friend,
.cannot-delete-friend {
    width: 100%;
    min-width: 60ch;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
    }

    .form-buttons-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
