#walkthrough-modal-container {
    width: 100%;
    min-width: 40ch;
    max-width: 60ch;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;

    :is(h2) {
        border-bottom: 1px solid rgb(192, 191, 191);
        margin: 20px 0 0;
        padding: 0 0 20px 0;
    }

    :is(div) p {
        text-align: center;
    }

    :is(p) {
        margin: 0;
    }

    .walkthrough-text {
        width: 100%;
        margin: 10px 0;

        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

.walkthrough-modal-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    :is(button) {
        margin: 0;
    }
}

@media (376px <= width < 600px) {
    #modal-content {
        width: 100%;
    }
    .walkthrough-modal-container {
        width: 100%;
    }
    .walkthrough-modal-container h1 {
        font-size: 24px;
    }
    .walkthrough-modal-container div p {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    #modal-content {
        width: 100%;
    }
    .walkthrough-modal-container {
        width: 100%;
    }
    .walkthrough-modal-container h1 {
        font-size: 20px;
    }
    .walkthrough-modal-container div p {
        font-size: 14px;
    }
}
