
.walkthrough-modal-container {
    width: 500px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.walkthrough-modal-container h1 {
    border-bottom: 1px solid rgb(192, 191, 191);
    margin-bottom: 0px;
}

.walkthrough-modal-container div p {
    text-align: center;
}

.walkthrough-modal-container h1 {
    padding-left: 20px;
}

.walkthrough-modal-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.walkthrough-modal-buttons {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10%
}

.button-stay,
.button-leave {
    max-width: 100%;
    width: 400px;
    height: 28px;
}

@media (376px <= width < 600px) {
    #modal-content {
        width: 100%;
    }
    .walkthrough-modal-container {
        width: 100%;
    }
    .walkthrough-modal-container h1 {
        font-size: 24px;
    }
    .walkthrough-modal-container div p {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    #modal-content {
        width: 100%;
    }
    .walkthrough-modal-container {
        width: 100%;
    }
    .walkthrough-modal-container h1 {
        font-size: 20px;
    }
    .walkthrough-modal-container div p {
        font-size: 14px;
    }
}