#expenses-list-container {
    margin: 0;
    padding: 0;
    height: 750px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    overflow:scroll;
    overflow-x:hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.183) rgba(0, 0, 255, 0);
}

.all-expenses {
    border: 2px solid rgba(75, 74, 74, 0.228);
    border-radius: 3px;
    padding: 16px;
    margin: 14px;
}

.expense-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 16px;
}

.no-expenses {
    margin: 14px;
    border: 2px solid rgba(99, 98, 98, 0.228);
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 20px;
}

.expense-preview {
    height: 40px;
    padding: 0px 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.expense-preview .description {
    margin: 0;
    font-weight: 600;
}

.expense-card {
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.comments-card {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 45%;
}
