body {
    background-color: #FAFAFA;
}

#landingPage-main-container {
    margin: auto;
    background: linear-gradient(400deg, #49aef17d, #fd99344e);
    /* border: 1px solid red; */
}

.elements-landing-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 80px;
    /* border: 1px solid blue; */
}

.landing-motto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid green; */
}

.landing-motto-container > h1 {
    font-size: 50px;
}

#landing-mottos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-mot-line {
    margin-bottom: 0px;
}

.second-mot-line {
    margin-top: 0px;
    margin-bottom: 0px;
}

.landingPage-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    width: 25%;
}

.landingPage-image-container > p {
    text-align: center;
    font-weight: bold;
}

.landingPage-image {
    margin-top: 25px;
}

#landing-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landing-icon-images {
    max-width: 20%;
}

#landing-sentence {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.icons:hover {
    color: #FAFAFA;
    cursor: pointer;
}

.big-signup > button {
    width: 180px;
    height: 45px;
    font-size: 16px;
    font-weight: 660;
    border: none;
    border-radius: 10px;
    background: linear-gradient(454deg,#EFCEAD, #FD9934);
}

#main-footer {
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
