body {
    background-color: #FAFAFA;
}

#landing-main-container {
    background: linear-gradient(100deg, var(--theme-l-blue) 0%, white 50%, var(--theme-orange) 100%);
}

.landing-elements-container1 {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

#left-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left-container > h1 {
    font-size: 50px;
}

#landing-mottos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-mot-line {
    margin-bottom: 0px;
}

.second-mot-line {
    margin-top: 0px;
    margin-bottom: 0px;
}

#right-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingPage-image-container > p {
    text-align: center;
    font-weight: bold;
}

#landing-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landing-icon-images {
    max-width: 20%;
}

#landing-sentence {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.icons:hover {
    color: #FAFAFA;
    cursor: default;
}

.big-signup > button {
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(120deg, #49AEF1, #F1AD69, #FD9934);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
}

.big-signup > button:hover {
    background-position: 0 0;
}

.landing-elements-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    padding-bottom: 50px;
    padding-top: 25px;
    background-image: url('../../../images/2.png');
    /* border: 1px solid blue; */
}

.landing-elements-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 25px;
    /* border: 1px solid yellow; */
}

#left-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid green; */
}

#right-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    /* border: 1px solid red; */
}

#left-container2 > h1, #right-container2 > h1 {
    margin-bottom: 0px;
    font-size: 40px;
}

#left-container2 > p, #right-container2 > p {
    font-weight: 660;
    font-size: 20px;
}

footer {
    width: auto;
    height: 100px;
    border-top: 2px solid black;
    background-color: var(--theme-orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#footer-devs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

#footer-devs > a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#footer-devs > a:hover {
    color: white;
    text-decoration: underline;
}

#footer-name {
    font-weight: 600;
    font-size: 12px;
}


@media (max-width: 1000px) {

    .landing-elements-container2,
    .landing-elements-container3 {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .landing-elements-container1,
    .landing-elements-container2,
    .landing-elements-container3,
    .landing-elements-container2 > .left-container2,
    .landing-elements-container3 > .right-container2,
    .landing-image {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
}

@media (max-width: 375px) {
    .landing-elements-container1,
    .landing-elements-container2,
    .landing-elements-container3,
    .landing-elements-container2 > .left-container2,
    .landing-elements-container3 > .right-container2,
    .landing-image {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 375px;
    }
    #landing-mottos {
        font-size: 14px;
    }
    #right-container2 > h1,
    #left-container2 > h1 {
        font-size: 34px;
    }
    #right-container2 > p, 
    #left-container2 > p {
        font-size: 19px;
    }
    footer {
        height: 100%;
    }
    #footer-devs {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    #footer-devs > a {
        font-size: 13px;
    }
}


