#modal-content {
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid var(--theme-d-gray);
    border-radius: 10px;
    background-clip: border-box;
}

#modal-content h2 {
    margin: 0 0 10px;

    font-size: 2rem;
    line-height: 2rem;
}

#settle-up-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    gap: 10px;
}

.form-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#settle-up-form input {
    width: 100%;

    background-color: var(--theme-white);
    border: 1px solid var(--theme-m-gray);
    border-radius: 2.5px;
}

.form-buttons {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-cancel {
    width: 120px;
    margin-top: 10px;
    align-self: center;

    font-size: 0.8rem;
    cursor: pointer;

    background-color: var(--theme-xl-orange);
    border: 2px solid var(--theme-orange);
    border-radius: 5px;
}

.form-cancel:hover {
    background-color: var(--theme-l-orange);
    border: 2px solid var(--theme-d-orange);
}

.form-submit {
    width: 120px;
    margin-top: 10px;
    align-self: center;

    font-size: 0.8rem;
    cursor: pointer;

    background-color: var(--theme-xl-blue);
    border: 2px solid var(--theme-blue);
    border-radius: 5px;
}

.form-submit:hover {
    background-color: var(--theme-l-blue);
    border: 2px solid var(--theme-d-blue);
}

.form-submit.disabled,
.form-submit.disabled:hover {
    background-color: var(--theme-xl-gray);
    border: 2px solid var(--theme-l-gray);
    cursor: default;
}

#settle-expense-option:hover {
    cursor: pointer;
}

#settle-up-name-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 660;
}

.dollarsign-for-amount {
    display: flex;
    gap: 6px;
}
