#settle-up-form {
    width: 100%;
    min-width: 40ch;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    gap: 10px;

    .form-content-container {
        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
    }

    .form-label {
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: left;

        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
    }

    .form-item {
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    :is(input) {
        width: 100%;
        height: 30px;

        background-color: var(--theme-white);
        border: 1px solid var(--theme-m-gray);
        border-radius: 2.5px;
    }

    .your-name-text,
    .friend-name-text {
        font-weight: 600;
    }

    :is(p) {
        margin: 0;
    }
}

#settle-expense-option:hover {
    cursor: pointer;
}

#settle-up-name-img {
    font-weight: 600;

    .user-profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.dollarsign-for-amount {
    display: flex;
    gap: 6px;
}
