.fiends-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

#friends-list-title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.605);
    width: 120px;
    padding: 5px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.friends-list {
    height:200px;
    overflow:scroll;
    overflow-x:hidden;

    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.183) rgba(0, 0, 255, 0);
}

.friends-list-ele {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    line-height: 1.7;
}

.animated-friend-underline:hover {
    color: #2DA2EF
}

.friends-list-ele > button {
    background-color: white;
    color: rgba(128, 128, 128, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.friends-list-ele > button:hover {
    color: #FD8A17;

}

#delete-friend-modal-button {
    background-color: white;
}

.delete-friend-modal-button:hover {
    color: orange;
    visibility: visible
}

.on-friends-page {
    color: #2DA2EF
}
