#secondary-nav-header {
    width: 100%;
    max-width: 60ch;
    padding: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border: 2px solid var(--theme-m-gray);
    border-radius: 2.5px;
}

#page-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#secondary-nav-header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
