#secondary-nav-header {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--theme-m-gray);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.336);
}

#page-title {
    /* min-width: 10ch; */
    max-width: 20ch;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
}

#secondary-nav-header nav {
    height: 100%;
    margin-left: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

#secondary-nav-header button {
    height: 100%;
    width: 12ch;
    margin: 0;
    font-size: 1rem;
}

.title-with-profile-image {
    display: flex;
    align-items: center;
    gap: 20px
}


.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.secondary-nav-buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.secondary-nav-buttons > button {
    font-size: 0.8rem;
    background-color: var(--theme-xl-blue);
    border: 2px solid var(--theme-blue);
    border-radius: 5px;
}

.secondary-nav-buttons > button:hover {
    background-color: var(--theme-l-blue);
    border: 2px solid var(--theme-d-blue);
}

@media (max-width: 600px) {
    #secondary-nav-header {
        height: 100%;
        height: 170px;
        flex-direction: column;
    }

    #page-title {
        margin: 8px 20px 20px;
        text-align: center;

    }

    .secondary-nav-nav {
        width: 100%;
        max-height: 40px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .secondary-nav-buttons {
        width: 100%;
        height: 85px;
        gap: 8px;
        flex-direction: column;
    }

    #secondary-nav-header button,
    .secondary-nav-buttons button {
        width: 100%;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .title-with-profile-image {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: start;
    }
}
