.nav-header {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 10%;
}

.nav-header-landing {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-header li,
.nav-header a, 
.nav-header-landing li,
.nav-header-landing a {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  position: relative;
  display: inline-block;
}

.profile-dropdown {
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 45px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  list-style: none;
  background-color: white;
  border: 1px solid var(--theme-l-gray);
  border-radius: 2.5px;
}

.profile-dropdown li {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.profile-dropdown button {
  width: 100%;

  font-size: 0.8rem;
  cursor: pointer;

  background-color: var(--theme-xl-orange);
  border: 2px solid var(--theme-orange);
  border-radius: 5px;
}

.profile-dropdown button:hover {
  background-color: var(--theme-l-orange);
  border: 2px solid var(--theme-d-orange);
}

.profile-button {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 2px solid black;
  border-radius: 5px;

  cursor: pointer;
}

.profile-button:hover {
  background-color: #DEDEDE;
}

.media-less-than-1000 {
  display: none;
}

.website-walkthrough {
  cursor: pointer;
}

.website-walkthrough:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .media-less-than-1000 {
    display: block
  }
}

