.friend-card {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  cursor: pointer;
}

.friend-info {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-self: start;
}

.friend-info:hover {
  background-color: #DEDEDE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
}

.friend-info-text {
  height: 40px;
  margin-left: 5px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: start;
}

.friend-name,
.net-amount {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}

.friend-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.positive {
  color: var(--theme-d-blue);
}

.negative {
  color: var(--theme-d-orange);
}
