.friends-summary-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.friends-summary-container ul {
    height: 100%;
    margin: 0;
    padding: 5px;
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    border: 1px solid var(--theme-m-gray);
    border-radius: 2.5px;
}

.friends-owed-by,
.friends-owed-to {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
}
